<h1>Stundenpläne</h1>

{% if matrix %}
  <table>
    {% for year in matrix %}
      <tr>
        {% for class in year %}
          <td>{{ class }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>Momentan sind keine Stundenpläne vorhanden.
{% endif %}
